openwis-alternative-v4-parent/.settings
openwis-alternative-v4-parent/.project
openwis-module-inject-poc/.settings
openwis-module-inject-poc/.project
openwis-module-inject-poc/.classpath
openwis-module-inject-poc/target
openwis-war-overlay/.settings
openwis-war-overlay/.project
openwis-war-overlay/.classpath
openwis-war-overlay/target
openwis-war-overlay/images
openwis-war-overlay/jcs_caching/
openwis-war-overlay/*.db
openwis-war-overlay/*.db.old
openwis-wro4j/.settings
openwis-wro4j/.project
openwis-wro4j/.classpath
openwis-wro4j/target
openwis-domain/.settings
openwis-domain/.project
openwis-domain/.classpath
openwis-domain/target
openwis-events/.settings
openwis-events/.project
openwis-events/.classpath
openwis-events/target
openwis-services/.settings
openwis-services/.project
openwis-services/.classpath
openwis-services/target
openwis-services-client/.settings
openwis-services-client/.project
openwis-services-client/.classpath
openwis-services-client/target