
<script type="text/javascript">

	/**
	 * Add new angular dependencies
	 */
	angular.module('gn_usergroup_controller').requires.push('gn_openwis_blacklist_controller','gn_openwis_admin_subscription_controller','gn_openwis_admin_request_controller');
			
	/**
	 * This is the extended controller that will replace the original one
	 * 
	 */
	
	angular.module('gn_usergroup_controller').controller('EXT_GnUserGroupController', [
	    '$scope', '$routeParams', '$http', '$rootScope', '$translate', '$timeout', '$controller',
	    function($scope, $routeParams, $http, $rootScope, $translate, $timeout, $controller) {
	    	
	    	angular.extend(this, $controller('GnUserGroupController', {
	            $scope : $scope,
	            $routeParams : $routeParams,
	            $http : $http,
	            $rootScope : $rootScope,
	            $translate : $translate,
	            $timeout : $timeout
	          }));
	    	
	    	$scope.pageMenu = {
	    	        folder: 'usergroup/',
	    	        defaultTab: 'groups',
	    	        tabs:
	    	            [{
	    	              type: 'groups',
	    	              label: 'manageGroups',
	    	              icon: 'fa-group',
	    	              href: '#/organization/groups'
	    	            },{
	    	              type: 'users',
	    	              label: 'manageUsers',
	    	              icon: 'fa-user',
	    	              href: '#/organization/users'
	    	            },{
	    	              type: 'blacklist',
	    	              label: 'blacklist',
	    	              icon: 'fa-unlock-alt',
	    	              href: '#/organization/blacklist'
	    	            },{
	    	              type: 'subscriptions-mine',
	    	              label: 'subscriptions-mine',
	    	              icon: 'fa-rss',
	    	              href: '#/organization/subscriptions-mine'
	    	            },{
	    	              type: 'requests-mine',
	    	              label: 'requests-mine',
	    	              icon: 'fa-download',
	    	              href: '#/organization/requests-mine'
	    	            }]
   	      	};
	    	
	    	
	    	function loadGroups() {
	            $scope.isLoadingGroups = true;
	            $http.get('admin.group.list?_content_type=json').
	                success(function(data) {
	                  $scope.groups = data !== 'null' ? data : null;
	                  $scope.isLoadingGroups = false;
	                }).error(function(data) {
	                  // TODO
	                  $scope.isLoadingGroups = false;
	                }).then(function() {
	                  // Search if requested group in location is
	                  // in the list and trigger selection.
	                  // TODO: change route path when selected (issue - controller is
	                  // reloaded)
	                  if ($routeParams.userOrGroup || $routeParams.userOrGroupId) {
	                    angular.forEach($scope.groups, function(u) {
	                      if (u.name === $routeParams.userOrGroup ||
	                          $routeParams.userOrGroupId === u.id.toString()) {
	                        $scope.selectGroup(u);
	                      }
	                    });
	                  }
	                });
	          };
	          
	          /**
	           * Compute user profile based on group/profile select
	           * list. This is closely related to the template manipulating
	           * element ids.
	           *
	           * Searching through the list, compute the highest profile
	           * for the user and set it.
	           * When a user is a reviewer of a group, the corresponding
	           * group is also selected in the editor profile list.
	           */
	          $scope.setUserProfile = function(checked) {
	            // Switch the profile (AFA a watch on userIsAdmin does not work).
	            if (checked) {
	              $scope.userIsAdmin = !$scope.userIsAdmin;
	            }
	            $scope.userUpdated = true;
	            if ($scope.userIsAdmin) {
	              // Unselect all groups option
	              for (var i = 0; i < $scope.profiles.length; i++) {
	                if ($scope.profiles[i] !== 'Administrator') {
	                  $('#groups_' + $scope.profiles[i])[0].selectedIndex = -1;
	                }
	              }
	              $scope.userSelected.profile = 'Administrator';
	            } else {
	              // Define the highest profile for user
	              var newprofile = 'RegisteredUser';
	              for (var i = 0; i < $scope.profiles.length; i++) {
	                if ($scope.profiles[i] !== 'Administrator') {
	                  var groups = $('#groups_' + $scope.profiles[i])[0];
	                  // If one of the group is selected, main user profile is updated
	                  if (groups.selectedIndex > -1 &&
	                      groups.options[groups.selectedIndex].value != '') {
	                    newprofile = $scope.profiles[i];
	                  }
	                }
	              }
	              $scope.userSelected.profile = newprofile;

	              // If user is reviewer in one group, he is also editor for that group
	              var editorGroups = $('#groups_Editor')[0];
	              var reviewerGroups = $('#groups_Reviewer')[0];
	              if (reviewerGroups.selectedIndex > -1) {
	                for (var j = 0; j < reviewerGroups.options.length; j++) {
	                  if (reviewerGroups.options[j].selected) {
	                    editorGroups.options[j].selected = true;
	                  }
	                }
	              }
	            }
	          };
	    
	    	
    }]);
	
	/**
	 * Register the replacement
	 * 
	 */
	JsUtil.registerReplacementController('GnUserGroupController','EXT_GnUserGroupController');

	
</script>